@import url('http://fonts.cdnfonts.com/css/harry-potter');
body{
    background-image: url('assets/harrypotterbackground.png');
}
/* Palavras que devem ser encontradas */
.palavrasPerdidas img{

    width: 200px;
}
.palavrasPerdidas p{
    position: absolute;
    color: white;
    margin-left: 27px;
    font-size: 23px;
    font-weight: bold;
}
#p1{
    margin-top: 50px;
}
#p2{
    margin-top: 130px;
}
#p3{
    margin-top: 210px;
}
.celula{
    width: 30px;
    height: 30px;
    border: black 1px solid;
    text-align: center;
    background-color: #e1b43d;
}
table{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* aside palavras */
.tabelaDePalavras{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 2px solid #4b0082;
    background-color: #660066;   
    border-radius: 10px;                                                
}
.tabelaDePalavras p{
    font-family: 'Harry Potter', sans-serif;
    font-size: 18px;
    color: #e1b43d;
}

