.cardEscolha {
    width: 293px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    border: solid 1px green;
    background-color: black;
    border-radius: 5px;
}

#botoes {
    display: flex;
}

#botoes button{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}