body{
    background-color: black;
     display: flex; 
     align-items: center;
     flex-direction: column;
     justify-content: center;
     text-align: center;
}

p{
    background-color: #fff;
    color: black;
    margin-right: 20px;
    border: transparent;
    border-radius: 15px;
    text-align: center;
}
header img{
    width: 260px;   
}

h2{
    color: #fff;
}


img[alt="logoHp"]{
    width: 200px;
    height: 84.84px;
}

img[alt="logoHh"]{
    width: 200px;
}

#game1{
    padding: 20px;
    text-transform: uppercase;
    font-size: 23px;
    color: black;
    text-decoration: none;
}

.coluna1 p:hover{
   background-color: rgb(89, 156, 201);
}

#game2{
    padding: 50px;
    font-size: 23px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.coluna2 p:hover {
    background-color: rgb(73, 38, 73);
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coluna1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coluna2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 600px){
    header img{
        width: 350px;  
        margin-bottom: -65px; 
    }
    div{
        flex-direction: row;
    }
    #game1{
        font-size: 30px;
        font-weight: bold;
    }
    #game2{
        font-size: 30px;
        font-weight: bold;
    }
}
