body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #ff8202;
}
figure{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.logohh{
    width: 300px;
    margin-bottom: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.pedraPapel{
    background-image: url("assets/background/newmobile.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
}
.placar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: auto;
    background-color: #bb890e;
    border-radius: 10px;
    margin-top: 15px;
}
.escolha{
    color: #fff;
    margin-top: 60px;
    background-color: rgb(42, 92, 55);
    width: 40%;
    text-align: center;
    border-radius: 10%;
}
.aparecer{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: opacidade 3s;
}

.placarAparecer {
    animation: opacidade 3s;
    color: #fff;
    height: 50px;
    margin-right: 40px;
    margin-left: 35px;
    align-items: center;
    font-size: 22px;
}
.timer{
    background-color: #bb890e;
    margin-top: 75px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.cardEscolha {
    width: 293px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    border: solid 1px;
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
}
#botoes {
    display: flex;
    flex-direction: column;
}

#botoes button{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

#botoes button:hover {
    background-color: #bb890e;
    color: #fff;
}

.esconder {
    display: none;
}
.nome-jogador{
    width: 293px;
    height: 180px;
    margin-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 11px 5px 31px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 11px 5px 31px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 11px 5px 31px rgba(0,0,0,0.75);
    margin-bottom: 50px;
}

.nome-jogador input[type="text"]{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    width: 70%;
}

.nome-jogador label{
    font-size: 20px;
    font-weight: 700;
    background-color: #ff8202;
    margin: 0 4px 15px;
    padding: 1px;
}

.start{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
}



.player{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 40px 0px 0px 0px;
    justify-content: center;
    color: #fff;
    padding-left: 15px;
    background-color: #bb890e;
}

#game2{
    display: none;
}

@keyframes opacidade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideLeft {
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 50%;
    }
}

@keyframes slideRight {
    from{
        margin-right: 0%;
    }
    to{
        margin-right: 100%;
    }
}

@keyframes slideBottom {
    from{
        margin-bottom: 0%;
    }
    to{
        margin-bottom: 100%;
    }
    
}


.alert-boxJ{
    display:block;
    position:fixed;
    width:300px;
    height: 180px;
    padding:5px 20px 20px;
    background-color: #999;
    background-position: center;
    border:1px solid #999;
    text-align:center;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    z-index:99999;
    -webkit-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.59);
 }
 #backPopupJ{
    display: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
 }
 .alert-boxJ{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }
 .alert-boxJ h1{
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.alert-boxJ p{
    font-size: 15px;
}
 .alert-boxJ input{
    border: none;
    background-color: rgba(255, 255, 255, 0.445);
    color: rgb(0, 0, 0);
    font-weight: bolder;
    cursor: pointer;
    padding: 10px;
 }
 .alert-boxJ input:hover{
    background-color: aquamarine;
 }
 .container-1{
    display: flex;
    flex-direction: column;
    
}
.informacoes{
    width: 293px;
    height: 180px;
    margin-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: -1px 11px 5px 31px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 11px 5px 31px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 11px 5px 31px rgba(0,0,0,0.75);
}
.informacoes summary{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    background-color: #ff8202;
    margin: 0 4px;
}
.informacoes p{
    font-size: 13px;
    font-weight: 700;
    background-color: #ff8202;
    margin: 0 4px 15px;
    padding: 1px;
}
.informacoes ul{
    font-size: 13px;
    font-weight: 700;
    background-color: #ff8202;
    margin: -15px 4px 0px;
    padding: 1px;
    list-style: none;
}
 @media screen and (min-width: 768px){
    body{
        background-color: #655677;
        
    }
    header{
        display: flex;
        width: 70%;
    }
    .pedraPapel{
        background-image: url("assets/background/224-2245659_hunter-x-hunter-wallpaper-4k.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
    }
    .nome-jogador{
        width: 293px;
        height: 180px;
        margin-left: 50px;
        margin-top: 50px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: -1px 11px 5px 31px rgb(0 0 0 / 75%);
        -webkit-box-shadow: -1px 11px 5px 31px rgb(0 0 0 / 75%);
        -moz-box-shadow: -1px 11px 5px 31px rgba(0,0,0,0.75);
    }
    .nome-jogador label{
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 700;
        background-color:   #1b0f19;
        color: #b6c3fa;
        margin-bottom: 15px;
    }
    .nome-jogador input{
        padding: 10px 30px;
        border-radius: 10px;
        border: none;
    }
    .nome-jogador input:hover{
        background-color:   #1b0f19;
        color: #b6c3fa;
    }
    .start{
        margin-top: 20px;
        padding: 10px 30px;
        border-radius: 10px;
    }
    .placar{
        display: flex;
        background-color:   #1b0f19;
        color: #b6c3fa;
        width: 400px;
        height: 50px;
        margin-top: 75px;
        margin-left: 15px;
        justify-content: center;
        border-radius: 0px;
    }
    .timer{
        background-color:   #1b0f19;
        color: #b6c3fa;
        margin-top: 75px;
        font-size: 22px;
        font-weight: bold;
        height: 50px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .placar h3{
        display: flex;
        margin: 0 auto;
    }
    #tempo {
        margin: 0px;
    }
    .aparecer h2{
        border-radius: 0px;
        background-color:   #1b0f19;
        color: #b6c3fa;
        margin: 40px 14px 0px 0px;
    }
    .aparecer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .escolha{
        width: 900px;
    }
    #botoes{
        display: flex;
        flex-direction: row;
    }
    .player{
        display: flex;
        flex-direction: column;
        background-color:   #1b0f19;
        color: #b6c3fa;
        width: 600px;
        margin: 40px 0px 0px 0px;
        justify-content: center;
        padding-left: 15px;
    }
    .container-1{
        display: flex;
        flex-direction: row;
    }
    .informacoes{
        width: 293px;
        height: 180px;
        margin-left: 70px;
        margin-top: 50px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-shadow: -1px 11px 5px 31px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 11px 5px 31px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 11px 5px 31px rgba(0,0,0,0.75);
    }
    .informacoes summary{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        background-color:   #1b0f19;
        color: #b6c3fa;
        margin: 0 4px;
    }
    .informacoes p{
        font-size: 13px;
        font-weight: 700;
        background-color: rgb(73, 38, 73);
        margin: 0 4px 15px;
        padding: 1px;
        text-align: justify;
    }
    .informacoes ul{
        font-size: 13px;
        font-weight: 700;
        background-color: rgb(73, 38, 73);
        margin: -15px 4px 0px;
        padding: 1px;
        text-align: justify;
    }
    #botoes button:hover {
        background-color:   #1b0f19;
        color: #b6c3fa;
    }
}
 